# Ignore JS files at the repo root only
/*.js
!jest.config.js

# Ignore declaration files everywhere
*.d.ts

# Always track JS files inside lambda functions
!infrastructure/lib/lambda/**/*.js

# Node modules
node_modules

# CDK build directories
.cdk.staging
cdk.out

